<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WQZB9QW');</script>
<!-- End Google Tag Manager -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FP3W8573SN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FP3W8573SN');
</script>


{{ if .Site.Params.options.darkMode -}}
  {{ $darkModeInit := resources.Get "js/darkmode-init.js" | js.Build | minify -}}
  <script>{{ $darkModeInit.Content | safeJS }}</script>
{{ end -}}
{{- if and (.Site.Params.alert) (.Site.Params.alertDismissable) -}}
  {{ $alertInit := resources.Get "js/alert-init.js" | js.Build | minify -}}
  <script>{{ $alertInit.Content | safeJS }}</script>
{{- end -}}

<!--
<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
-->
